* {

    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: rgb(255, 215, 161);
    font-family: 'Pacifico', italic;
    font-size: 34px;
    height: 100vh;
    margin: 0;
}

a.number {
    color: yellow;
    text-decoration: none;
}

a.number:hover {
    text-decoration: underline;
}

.current-time {
    font-size: 4vh;
}

