.navbar {
    height: 7vh;
    display: flex;
    background-color: orange;
}

.navlist {
    display: flex;
    height: 7vh;
    background-color: orange;
}

.navlist a {
    text-decoration: none;
    font-size: 3vh;
    display: block;
    padding-right: 1em;
    padding-left: 1em;
    color: brown;
    margin: auto;
    white-space: nowrap;

}

.navlist a:hover {
    background-color: blanchedalmond;
}

.navbtn{
    display: none;
}

.logo {
    max-width: 6vh;
    max-height: 6vh;
    display: block;
    padding-left: 0.1em;
    padding-right: 0.1em;
    margin: 5px;
}

@media (max-width: 1320px) {
    body {
        font-size: 30px;
    }

    .navbtn {
        font-size: 5vh;
        padding-inline: 10px;
        padding-bottom: 0px;
        border: none;
        background-color: orange;
        color: brown;
        display: block;
        cursor: pointer;
    }

    .navlist {
        display: none;
    }

    .drop:hover .navlist {
        flex-direction: column;
        display: block;
        position: absolute;
        background-color: orange;
        z-index: 3;
        font-size: 20px;
        height: 1em;
        margin: -1px;
    }

    .drop:hover .navlist > * {
        background-color: orange;
    }

}