* {

    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: rgb(255, 215, 161);
    font-family: 'Pacifico', cursive;
    font-size: 34px;
}

a.number {
    color: yellow;
    text-decoration: none;
}

a.number:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.current-time {
    font-size: 4vh;
}
