.swiper {
    width: 1100px;
    height: AUTO;
}


.card {
    background-color: rgb(255, 226, 201);
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
}

.card img {
    
    max-width: 100%;
    border-radius: 15px;
}

.card h2, .form-container {
    font-size: 44px;
    margin: 10px 0;
    color: darkorange;
}

.card p {
    font-size: 20px;
    color: black;
}

.btn {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    background-color: orange;
    color: brown;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: orangered;
    color: white;
}


.swiper-button-next, .swiper-button-prev {
    color: darkorange !important;
    position: absolute !important;
    top: 50% !important;
}

.swiper-button-next{
    right: calc(50% - 600px) !important;
}

.swiper-button-prev {
    left: calc(50% - 600px) !important;
}

.form-container {
    background-color: rgb(255, 226, 201);
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    padding: 20px;
}

.form-container form {
    display: grid;
    gap: 10px;
}

input {
    font-family: 'Pacifico';
    src: url('static/fonts/PacificoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 35px; 
    width: 300px;
    padding: 8px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}