.swiper {
    width: 90vw;
    max-width: 1100px;
    height: AUTO;
    margin: auto;
    margin-top: 3vh;

}

.swiper-slide {
    width: 100%;
}

.swiper-wrapper {
    display: flex;

    height: 100vh;
}

.card {
    height: 20em;
    background-color: rgb(255, 226, 201);
    border-radius: 15px;
    text-align: center;
    align-content: center;
    padding: 0.5em;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    justify-content: center;
}

.card1 {
    height: 1em;
    background-color: rgb(255, 226, 201);
    border-radius: 15px;
    text-align: center;
    align-content: center;
    padding: 20px;
}

.card img {
    width: 100%;
    border-radius: 15px;
    margin: auto;
}

.card h2 {
    font-size: 1.2em;
    margin: 20px;
    color: darkorange;
}
.card h2, .form-container {
    font-size: 1.2em;
    color: darkorange;
}

.card p {
    font-size: 20px;
    color: black;
}

.btn {
    font-family: 'Pacifico', cursive;
    font-size: 0.7em;
    background-color: orange;
    color: brown;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin:auto;
}

.btn:hover {
    background-color: orangered;
    color: white;
}

.swiper-button-next, .swiper-button-prev {
    color: darkorange !important;
    position: absolute !important;
    top: 50% !important;
}

.swiper-button-next{
    right: calc(50% - 600px) !important;
}

.swiper-button-prev {
    left: calc(50% - 600px) !important;
}

.form-container {
    background-color: rgb(255, 226, 201);
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    display: grid;
    justify-content: center;
    white-space: nowrap;
}

.form-container form {
    display: grid;
    gap: 10px;
}

input {
    font-family: 'Pacifico';
    src: url('../fonts/PacificoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    color: darkorange;
    font-size: 90%; 
    width: 90%;
    padding: 8px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.animated-text > h1 {
    text-align: center;
    color: darkorange;
    font-size: 4vw;
}

@media (max-width: 1440px) {


    .card {
        font-size: 26px;
    }

    .card img {
        width: 75%;
        border-radius: 15px;
        margin: auto;
    }

    .swiper-button-next, .swiper-button-prev {
        color: darkorange !important;
        position: absolute !important;
        top: 50% !important;
    }
}

@media (max-width: 1200px) {


    .swiper {
        width: 60vw;

    }

    .card img {
        width: 80%;
        border-radius: 15px;
        margin: auto;
    }

    .swiper-button-next, .swiper-button-prev {
        color: darkorange !important;
        position: absolute !important;
        top: 50% !important;
    }

    .swiper-button-next {
        right: calc(50% - 450px) !important;
    }

    .swiper-button-prev {
        left: calc(50% - 450px) !important;
    }
}

@media (max-width: 1010px) {

    .animated-text > h1 {
        font-size: 5vw;
    }

    .swiper-button-next {
        right: calc(50% - 350px) !important;
    }

    .swiper-button-prev {
        left: calc(50% - 350px) !important;
    }
}

@media (max-width: 800px) {

    .animated-text > h1 {
        font-size: 6vw;
    }

    .swiper {
        width: 40vw;
    }

    .swiper-button-next {
        right: calc(50% - 200px) !important;
    }

    .swiper-button-prev {
        left: calc(50% - 200px) !important;
    }
}

@media (max-width: 680px) {

    .animated-text > h1 {
        font-size: 7vw;
    }

    .swiper {
        width: 50vw;
    }

}

@media (max-width: 580px) {

    .animated-text > h1 {
        font-size: 8vw;
    }

    .swiper {
        width: 60vw;
    }
}

@media (max-width: 507px){
    .form-container {
        height: 18em;
    }
    
}

@media (max-width: 444px) {
   
    .animated-text > h1 {
        font-size: 9vw;
    }

    .swiper {
        width: 70vw;
    }
}

@media (max-width: 407px) {

    .animated-text > h1 {
        font-size: 10vw;
    }

    .swiper {
        width: 70vw;
    }

    .swiper-button-next {
        right: calc(50% - 170px) !important;
    }

    .swiper-button-prev {
        left: calc(50% - 170px) !important;
    }
}


@media (max-width: 357px) {

    .animated-text > h1 {
        font-size: 11vw;
    }

    .swiper {
        width: 80vw;
    }

    .swiper-button-next {
        right: calc(50% - 170px) !important;
    }

    .swiper-button-prev {
        left: calc(50% - 170px) !important;
    }
}

@media (max-width: 310px) {


    .animated-text > h1 {
        font-size: 12vw;
    }

    .swiper {
        width: 80vw;
    }

    .swiper-button-next {
        right: calc(50% - 150px) !important;
    }

    .swiper-button-prev {
        left: calc(50% - 150px) !important;
    }
}
